SoundFile
torchaudio
munch
torch
pydub
pyyaml
librosa
nltk
matplotlib
tensorboard
pandas
accelerate
transformers
einops
einops-exts
tqdm
typing
typing-extensions
git+https://github.com/resemble-ai/monotonic_align.git